.relogioCOntainer{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.3);
}

.hora{
    font-size: 4rem;
    font-weight: bold;
    margin: 10px 0;
}

.data{
    font-size: 1.5rem;
    margin-top: 5px;
    font-style: italic;
}
